<div class="container-fluid">
    <h1 class="h1_class">Hello DashBoard!!!</h1>
  
    <div id="color-sel">
        <ol class="color-selector"> 
            <li *ngFor="let item of matColorButtons;let ind = index;"  >
                <input type="radio" id="clr{{ind}}" name="material-color" checked>
                <label for="clr{{ind}}" [ngStyle]="{'background-color': item.color}" (mouseover)="mouseUp(ind)"></label>
                <span tooltip="{{item.name}}"
                [tooltipDisabled]="false"
                [tooltipAnimation]="true"
                tooltipPlacement="top">
          </span>
                <!--  
                <span class="tooltiptext">Tooltip text</span>
            -->
            </li>   
        </ol>
    </div>

    <div id="color-col">
        <div class="row">
            <div id="color_row" class="col-md-3 box" [style.background-color]="clr.color"  *ngFor="let item of colorListItems">
                <div id="content" [ngStyle]="{'background-color': 'gray' }">
                    {{ item }}
                </div>
            </div>
          </div>
    </div>

        <!-- tooltip with dynamic html content -->
    <!--
        <div>
            <tooltip-content #myTooltip>
                <b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>
                <b><i><span style="color: #ffc520">Tooltip With</span></i></b> <small>Html support</small>.
            </tooltip-content>
     
            <button [tooltip]="myTooltip">hover this button to see a tooltip</button>
        </div>
    -->
    <!--
    <div class="row">
      <div id="color_row" class="col-md-3 box" [style.background-color]="clr.color"  *ngFor="let item of colorListItems">
          <div id="content" [ngStyle]="{'background-color': 'gray' }">
              {{ item }}
          </div>
      </div>
    </div>
    -->


    <!--
    <div class="row">
      <div id="color_row" class="col-md-3 box" [style.background-color]="clr.color"  *ngFor="let item of colorListItems">
          <div id="content" [ngStyle]="{'background-color': 'gray' }">
              {{ item }}
          </div>
      </div>

        <div class="col-md-3" style="background-color:cyan;">col-md-1</div>
        {{ colorName}} 
      <div class="col-md-3" style="background-color:white;">col-md-1</div>
      <div class="col-md-3" style="background-color:black;">col-md-1</div>
      <div class="col-md-3" style="background-color:black;">col-md-1</div>
      <div class="col-md-3" style="background-color:black;">col-md-1</div>
      <div class="col-md-3" style="background-color:black;">col-md-1</div>
    </div>
    -->
  
</div>

 
 