.mat-layout{
    background-color: blue;
    height: 100%;
    width: 70%;
    margin-left: 20%;
}

p{
    color: white;
}

._container {
    height: 100%;
    background-color: red;
    margin-left: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.container-fluid{
    height: 100%;
    background-color: red;
    margin-left: 320px;
    margin-right: 10px;
    margin-top: 10px;
}

.h1_class{
    text-align: center;
}

p{
    height: 100%;
    width: 100%;
    text-align: center;
}

.color_item {
    width: 100px;
    height: 20px;
    background-color: blue;
    margin: 1px;
}

#color_row{
    margin-left: 0px;
    height: 100px;
    color: white;
    text-align: center;
}

#content {
    text-align: center;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    font-size: 150%;
    transform: translate(-50%, -50%);
}

 
.box{
    box-model: border-box;
    border: 1px solid transparent;
    background-clip:padding-box;
  }

.color-selector{
    width: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    border-right: 0.25em solid #E0E0E0;
    list-style: none;
    //overflow:scroll;
    //overflow-x:hidden;
    margin: auto;
    input[type='radio']{
        display: none;
    }
    label {
        margin-left: 1em;
        margin-top: 0.7em;
        position: relative;
        display: inline-block;
        cursor: pointer;

        content: '';
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        padding: 0.75em;
        background-color: blue;
        border-radius: 50%;
    }
    
    input[type='radio']:checked + label:after {
        padding: 10em;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        transform: translate(-50%, -50%);
        
        padding: 1.3em;
        border: 0.25em solid white  ;
        border-radius: 50%;
        //background-color: turquoise;
        transition: padding 250ms;
    }
}

#color-sel{
    background-color: blue;
    width: 80px;
    float: left;
    height: 90%;
}

#color-col{
    margin-left: 10px;
    background-color: turquoise;
    float: left;
    width: 95%;
    height: 90%;
}

/*
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
*/

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext:hover {
    content: "";
    position: absolute;
    //top: 100%;
    //left: 50%;
    //margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    visibility: visible;
    opacity: 1;
}

input[type='radio']:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
