.mat-layout{
    background-color: blue;
    height: 100%;
    width: 70%;
    margin-left: 20%;
}

p{
    color: white;
}

._container {
    height: 100%;
    background-color: red;
    margin-left: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.container-fluid{
    height: 100%;
    background-color: red;
    margin-left: 320px;
    margin-right: 10px;
    margin-top: 10px;
}

.h1_class{
    text-align: center;
}

p{
    height: 100%;
    width: 100%;
    text-align: center;
}

.color_item {
    width: 100px;
    height: 20px;
    background-color: blue;
    margin: 1px;
}

#color_row{
    height: 100px;
    color: white;
    text-align: center;
}

#content {
    text-align: center;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    font-size: 150%;
    transform: translate(-50%, -50%);
}
  
.box{
    box-model: border-box;
    border: 1px solid transparent;
    background-clip:padding-box;
  }

.color-selector{
    width: 10%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    border-right: 0.25em solid #E0E0E0;
    list-style: none;

    input[type='radio']{
        display: none;
    }
    label {
        position: relative;
        display: inline-block;
        //padding: 0.5em 1.5em;
        cursor: pointer;

        content: '';
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        padding: 0.75em;
        background-color: blue;
        border-radius: 50%;
    }
    
    input[type='radio']:checked + label:after {
        padding: 10em;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        transform: translate(-50%, -50%);
        
        padding: 1.3em;
        border: 0.25em solid turquoise  ;
        border-radius: 50%;
        //background-color: turquoise;
        transition: padding 250ms;
    }
}

/*
#lbl:hover{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
    
    padding: 1.3em;
    border: 0.25em solid turquoise  ;
    border-radius: 50%;
    //background-color: turquoise;
    transition: padding 250ms;
}
*/



//
/*
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    border: 1px solid blue;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

*/